* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-size: 17px;
    padding: 0;
    padding-top: 0;
    font-family: Arial sans-serif;
    background: url(../images/outerspace_landscape.jpeg);
    background-size: cover;
}

.logo {
    background-color: grey;
    height: 50px;
}

img {
    height: 40px;
    margin: auto;
    border-radius: 12px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    border: 1px solid black;
}

midsection {}

.green {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    border: 5px dashed green;
    width: 600px;
    height: 300px;
    position: relative
}

.spacecat {
    position: absolute;
    height: 120px;
    width: 200px;
    top: -90px;
    left: -90px;
    border: 0;
}

.spacedog {
    position: absolute;
    width: 200px;
    height: 120px;
    bottom: -90px;
    right: -60px;
    border: 0;
}

.column {
    margin-top: 150px;
    margin-bottom: 160px;
    width: 100%;
}

.one {
    display: inline-block;
    width: 33%;
    background-color: red;
    border: 1px solid black;
    padding: 0;
}
